<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AGAMENON - EFICIENTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="calc">    
    <ion-row class="sub-display">
      {{ subDisplay }}
    </ion-row>
    <ion-row class="main-display">
      {{ mainDisplay }}
    </ion-row>

    <ion-row class="buttons-wrapper">

      <ion-col class="numbers">

        <ion-grid>
          <ion-row class="first-row">
            <ion-button
              class="button"
              (click)="percentage()">%
            </ion-button>
            <ion-button
              class="button"
              (click)="clearEntry()">CE
            </ion-button>
            <ion-button
              class="button"
              (click)="clear()">C
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"
              (click)="input(7)">7
            </ion-button>
            <ion-button
              class="button"
              (click)="input(8)">8
            </ion-button>
            <ion-button
              class="button"
              (click)="input(9)">9
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"
              (click)="input(4)">4
            </ion-button>
            <ion-button
              class="button"
              (click)="input(5)">5
            </ion-button>
            <ion-button
              class="button"
              (click)="input(6)">6
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"
              (click)="input(1)">1
            </ion-button>
            <ion-button
              class="button"
              (click)="input(2)">2
            </ion-button>
            <ion-button
              class="button"
              (click)="input(3)">3
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"
              (click)="switchSign()">+/-
            </ion-button>
            <ion-button
              class="button"
              (click)="input(0)">0
            </ion-button>
            <ion-button
              class="button"
              (click)="input('.')">.
            </ion-button>
          </ion-row>
        </ion-grid>

      </ion-col>

      <ion-col class="operations">

        <ion-grid>
          <ion-row>
            <ion-button
              class="button"
              (click)="divide()">
              &divide; <!-- &#247; -->
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"
              (click)="multiply()">
              &times; <!-- &#215; -->
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button"  
              (click)="subtract()">
              &minus; <!-- &#8722; -->
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button 
              class="button"
              (click)="sum()">
              &#43; <!-- plus -->
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-button
              class="button equals"
              (click)="solve()">
              &#61; <!-- equals -->
            </ion-button>
          </ion-row>
        </ion-grid>
        
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
