ion-header{ display: none; }

.calc{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Archivo;

  .display{
    height: 20%;
    justify-content: flex-end;
    flex-direction: column;

    .sub-display, .main-display{
      padding: 0 .5rem;
      margin: 0;
      text-align: right;
    }
  
    .sub-display{
      font-weight: 400;
      font-size: 1.4rem;
    }

    .main-display{
      font-weight: bolder;
      font-size: 3rem;
    }
  }


  .buttons-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;

    ion-button{
      --border-radius: 0;
      font-size: 1.2rem;
      font-weight: bold;
      border: 1px solid rgba(255, 255, 255, .4);
      margin: 0;
      width: 33.3%;
      height: 100%;
    }

    ion-grid, ion-row, ion-col{
      margin: 0;
      padding: 0;
    }
    
    ion-grid{ height: 100%; }

    ion-row{ height: 20%; }

    .numbers{
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      flex: 3;
      
      ion-grid{
        ion-row{
          &:nth-child(1){
            ion-button{ --background: rgba(49, 49, 49, 0.9); }
          }
        }
      }

      ion-button{ --background: #4d4d4d33; }
    }

    .operations{
      justify-content: center;
      align-items: center;

      ion-button{
        width: 100%;
        --background: #313131e5;
      }

      .equals{ --background: #492cb3; }
    }
  }
}